.main_container {
  padding: var(--th-main-container-D-padding);
  height: 100%;
  margin-bottom: 2rem;
  background-color: var(--th-main-container-bg);
  margin-bottom: 10rem;
}

.page_header {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(203, 213, 225, 0.3);
  border-radius: 10px;
  margin-bottom: 2rem;
}

.details_container {
  display: flex;
  column-gap: 1rem;
  padding: 1rem;
}

.project_details {
  width: 35%;
}

.tab_column {
  flex-grow: 1;
}

@media screen and (max-width: 768px) {
  .main_container {
    padding: 1px 1px;
    height: 100%;
    margin-bottom: 2rem;
    background-color: var(--th-main-container-bg);
    margin-bottom: 10rem;
  }
  .page_header {
    border-radius: 10px;
    margin-bottom: 0rem;
  }
  .project_details {
    display: none;
  }

  .details_container {
    padding: 0.1rem;
  }
}
