.stat_box {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 20px;
  background-color: transparent;
  border-radius: 30px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.stat_box:hover {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.stat_number {
  font-size: 18px;
  font-weight: 600;
  color: var(--th-bold-text-color);
}

.stat_label {
  font-size: 14px;
  font-weight: 500;
  color: var(--th-light-text-color);
}
