:root {
  --font-inter: "Inter", sans-serif;
  --th-bg-color: #f1f5f9;
  --th-main-container-bg: #f8fafc;
  --th-main-container-D-padding: 2.4rem;
  --th-light-gray-border: 1px solid rgba(203, 213, 225, 0.3);
  --th-bold-text-color: #1e293b;
  --th-primary-color: #3b82f6;
  --th-light-text-color: #64748b;
  --th-D-title-font-size: 2.4rem;
  --th-D-title-font-weight: 600;
  --th-btn-container-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  --th-gray-hover-bg: rgba(241, 245, 249, 0.8);
  --th-danger-bg-hover: rgba(239, 68, 68, 0.1);
  --th-danger-color: #ef4444;
  --th-hover-danger-color: #dc2626;
}

html {
  font-size: 62.5%;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: var(--font-inter);
  background-color: var(--th-bg-color);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
}
