.main_container {
  width: 100%;
  position: fixed;
  z-index: 100;
}

.navbar_wrapper {
  width: 100%;
  position: fixed;
  height: 8rem;

  background-color: var(--th-bg-color);
}

.inner_layout {
  display: flex;
  column-gap: 2rem;
  padding-top: 8rem;
}

.asidebar_wrapper {
  width: 25rem;
  height: 100vh;
  position: fixed;
  left: 0;
  z-index: 10;
}

.asidbar_wrapper_collapsed {
  /* background-color: black; */
}

.content_wrapper {
  margin-left: 25rem;
  width: calc(100% - 25rem);
  padding: 2rem 2rem;
}

@media screen and (max-width: 768px) {
  .navbar_wrapper {
    width: 100%;
    position: fixed;
    height: 5rem;
    background-color: var(--th-bg-color);
  }
  .inner_layout {
    display: flex;
    column-gap: 2rem;
    padding-top: 5rem;
  }
  .content_wrapper {
    margin-left: 0rem;
    width: 100%;
    padding: 1rem 1rem;
  }

  .asidebar_wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 10;
    transition: transform 0.3s ease;
    transform: translateX(0); /* Starting position */
    background-color: #dddddd;
  }

  .asidbar_wrapper_collapsed {
    background-color: #dddddd;
    transform: translateX(-100%); /* Only this, remove left property */
    box-shadow: none;
  }
}
