.main_container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    135deg,
    rgba(221, 221, 223, 0.2),
    rgba(228, 228, 228, 0.3)
  );
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  box-shadow:
    0 4px 4px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0px rgba(255, 255, 255, 0.1);
}

.asideBar_header {
  margin-bottom: 1rem;
  padding: 1rem 2rem;
}

.header_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bold_text {
  font-size: 24px;
  font-weight: 500;
  color: #333333;
}

.asidebar_icon {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid #5959596b;
  border-radius: 50%;
  cursor: pointer;
  color: #595959;
  transition: all 0.2s ease;
}

.asidebar_item {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  padding: 1rem 0rem;
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 1rem 2rem;
}

.asidebar_text {
  font-size: 16px;
  color: #333333;
  transition: color 0.2s ease; /* Add transition for smooth color change */
}

.asidebar_item:hover {
  background-color: #000;
  border-radius: 0px 10px 10px 0px;
}

.asidebar_item:hover .asidebar_text {
  color: #fff;
}

.asidebar_item:hover .asidebar_icon {
  color: #fff;
  border: 2px solid #fff;
}

@media screen and (max-width: 768px) {
  .main_container {
    width: 25rem;
  }
  .asideBar_header {
    padding: 1rem 1rem;
  }

  .header_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .bold_text {
    font-size: 18px;
    font-weight: 500;
  }

  .asidebar_icon {
    font-size: 14px;
    width: 25px;
    height: 25px;
  }

  .asidebar_item {
    column-gap: 1rem;
    padding: 0.5rem 0rem;
    cursor: pointer;
    transition: all 0.2s ease;
    padding: 1rem 1rem;
  }

  .asidebar_text {
    font-size: 16px;
    color: #333333;
    transition: color 0.2s ease; /* Add transition for smooth color change */
  }
}
